.video{
   position: relative;
    height: 100%;
    width: 100%; 
    scroll-snap-align: start;
    background-color: rgb(138, 126, 126);
    
}
.video__card{
    object-fit: fill;
    height: 100%;
    width: 100%;
}
h2{
    top: 50%;
}